
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$bg-color: rgb(170, 170, 170);
$width-checkbox: 13px;
$width-smallBtn: 30px;
$width-smallBtn-img: 20px;
$simple-border: 1px solid rgb(191, 193, 248);
$simple-bor-rad: 5px;

%formFirstLine{
    height: 35px;
    display: flex;
    align-items: center;
}
%formCheckbox{
    input{
        display: block;
        top: 0;
    }
    display: inline-block;
    width: $width-checkbox;
    height: $width-checkbox;
}
%formTitle{
    display: inline-block;
    border: $simple-border;
    border-radius: $simple-bor-rad;
    padding-right: 10px;
}
%formText{
    vertical-align: middle;
    border: $simple-border;
    border-radius: $simple-bor-rad;
    margin-top: 3px;
}
%formBtn{
    width: $width-smallBtn;
    height: $width-smallBtn;
    display: flex;
    justify-content: center;
    align-items: top;
    vertical-align: top;
}
%formBtnIcon{
    width: $width-smallBtn-img;
    height: $width-smallBtn-img;
}

*{
    margin: 0;
    padding: 0;
    line-height: normal;
}
body {
 background: $body-bg;
}
.todo{
    display: flex;
    flex-direction: column;
    
}
.tasksList{
    list-style-type: none;
}
.task{
    border: $simple-border;
    border-radius: $simple-bor-rad;
    &_baseElements{
        @extend %formFirstLine;
    }
    &_checkbox{
        @extend %formCheckbox;
    }
    &_title{
        @extend %formTitle;
    }
    &_text{
        @extend %formText;
    }
    &_titleTxt, &_textTxt{
        line-height: normal;
        margin-bottom: 0;
    }
    &_textTxt{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &_editBtn{
        @extend %formBtn;
        margin-left: 20px;
    }
    &_editBtnIcon{
        @extend %formBtnIcon;
        margin-top: -2px;
    }
    &_delBtn{
        @extend %formBtn;
        margin-left: 2px;
    }
    &_delBtnIcon{
        font-size: 30px;
        margin-top: -15px;
    }
}
.taskChange{
    border: $simple-border;
    border-radius: $simple-bor-rad;
    &_baseElements{
        @extend %formFirstLine;
    }
    &_checkbox{
        @extend %formCheckbox;
    }
    &_title{
        @extend %formTitle;
    }
    &_okBtn{
        @extend %formBtn;
        margin-left: 20px;
    }
    &_okBtnIcon{
        @extend %formBtnIcon;
    }
    &_cancelBtn{
        @extend %formBtn;
        margin-left: 2px;
    }
    &_cancelBtnIcon{
        font-size: 30px;
        margin-top: -15px;
    }
    &_text{
        margin-top: 3px;
    }
}