<li class="task">
    <form action="" name="taskForm" class="taskForm">
        <div class="checkbox">
            <label>
                <input type="checkbox">
            </label>
            <input type="text" value="Title" class="form-control">
            <textarea class="form-control">Text</textarea>
            <button class="btn btn-success">
                <img src="../images/editBlack.handlebars" alt="">
            </button>
            <button class="btn btn-danger">Delete</button>
        </div>
    </form>
</li>