<div class="taskChange p-2">
    <form action="" name="taskChangeForm" class="taskChangeForm">
        <div class="taskChange_baseElements">
            <div class="col-md-1 checkbox taskChange_checkbox">
                    <input type="checkbox">
            </div>
            <input type="text" class="form-control col-md-8 py-0 taskChange_title" value="Task1">
            <button class="btn btn-success col-md-1 taskChange_okBtn"  title="Accept">
                <img src="src/images/checkWhite.svg" alt="" class="taskChange_okBtnIcon">
            </button>
            <button class="btn btn-danger col-md-1 taskChange_cancelBtn" title="Cancel"><div class="taskChange_cancelBtnIcon">&times;</div></button>
        </div>
        <textarea class="col-12 col-md-12 taskChange_text" title="all text"></textarea>
    </form>
</div>