<div class="container justify-content-center">
    <div class="row justify-content-center">
        <section class="todo col-sm-10 col-md-7 mt-5">
            <div class="newTask">
                <form id="newTaskForm" action="" name="newTaskForm" class="newTaskForm">
                    <div class="form-group">
                        <input id="newTitle" type="text" class="form-control taskTitle" placeholder="Task Title">
                        <textarea id="newText" class="form-control taskText" placeholder="Task Text"></textarea>
                        <input type="submit" id="addTask" class="btn btn-primary mt-2" value="Add">
                    </div>
                </form>
            </div>
            <div class="tasks">
                <ul class="tasksList">
                    {{#each tasks}}
                        {{> partials/task}}
                    {{/each}}
                </ul>
            </div>
        </section>
    </div>     
</div>